/*--------- color ---------*/
/*--------- general style ---------*/
body {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal; }

.container {
  width: 100%;
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box; }

.symbol_color {
  color: #3e9cdc; }

.main_btn {
  width: 180px;
  min-width: 180px;
  background: #3e9cdc;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Lato';
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 0;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid #ffffff; }

.main__field {
  width: 100%;
  max-width: 370px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.85);
  color: #272733;
  box-sizing: border-box;
  border: none;
  border-radius: 5px; }

.select_style {
  background-color: #3d4050;
  color: #ffffff; }

/*--------- header ---------*/
.header {
  position: absolute;
  background: rgba(7, 7, 23, 0.9);
  width: 100%;
  padding: 40px 0; }

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header-top__text {
    font-size: 28px;
    color: #ffffff; }
  .header-top__menu {
    font-size: 28px; }
  .header-top__list {
    display: flex; }
  .header-top__list-adaptive {
    display: none; }
  .header-top__item {
    margin-right: 60px; }
  .header-top__item:last-child {
    margin-right: 0; }
  .header-top__link {
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    font-family: 'Lato';
    color: #ffffff;
    text-transform: uppercase; }
  .header-top__link_active {
    color: #3e9cdc; }
  .header-top__icon {
    display: block;
    background: url(../images/menu-icon-white.png);
    width: 33px;
    height: 22px;
    cursor: pointer; }

/*--------- section information ---------*/
.information {
  background: url("../images/bg-info.png") no-repeat;
  background-size: cover; }

.information-box {
  width: 100%;
  max-width: 750px;
  padding-top: 234px;
  color: #000000; }
  .information-box__title {
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase; }

.information-description {
  padding-top: 75px;
  font-size: 20px;
  line-height: 34px;
  color: #2a2b30; }
  .information-description__paragraph {
    font-weight: bold; }
  .information-description__item {
    font-size: 20px;
    line-height: 34px;
    color: #2a2b30;
    font-weight: normal; }

.information-btn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 75px;
  padding-bottom: 190px; }
  .information-btn__btn-style:first-child {
    margin-right: 25px; }
  .information-btn__btn-style:last-child {
    background: #ffffff;
    border: 1px solid #000000;
    color: #2a2b30; }

/*--------- section order ---------*/
.order {
  background: url("../images/map.png") no-repeat;
  background-size: cover;
  background-color: #272733; }

.order-reference {
  text-align: center;
  padding-top: 120px;
  color: #ffffff; }
  .order-reference__title {
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase; }
  .order-reference__paragraph {
    font-size: 18px;
    line-height: 22px;
    color: #bbbbbb; }

.order-step {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .order-step__column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 234px;
    text-align: center; }
  .order-step__column:after {
    content: '';
    position: absolute;
    background: url("../images/line.png") no-repeat;
    width: 102px;
    height: 6px;
    top: 50px;
    right: -50px; }
  .order-step__column:last-child::after {
    content: '';
    display: none; }
  .order-step__icon {
    height: 100px; }
  .order-step__text {
    padding-top: 15px;
    color: #ffffff; }

.order-form {
  padding-top: 80px; }

.order-form-box__field {
  display: flex;
  align-items: center;
  justify-content: space-between; }
.order-form-box__input {
  margin-left: 30px; }
.order-form-box__wrap {
  display: flex;
  align-items: flex-end;
  -ms-flex-align: center;
  justify-content: space-between; }
.order-form-box__toodler {
  width: 100%;
  max-width: 768px;
  margin-right: 30px; }
.order-form-box__percent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 18px;
  color: #ffffff;
  margin-top: 32px; }
.order-form-box__file {
  width: 100%;
  max-width: 370px;
  text-align: center; }
.order-form-box__btn {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 150px; }
.order-form-box__btn-style {
  width: 100%;
  max-width: 370px; }

/*--------- footer ---------*/
.footer {
  background: #393e50;
  padding: 35px 0;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px; }

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .footer-wrap__copyright {
    font-weight: bold; }
  .footer-wrap__list {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .footer-wrap__item {
    margin-right: 35px; }
  .footer-wrap__item:last-child {
    margin-right: 0; }
  .footer-wrap__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none; }
  .footer-wrap__text {
    margin-left: 10px; }

/*--------- Toddler style ---------*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: none; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: #cccccc;
  border-radius: 50px;
  border: 0.2px solid #010101; }

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border: 2px solid #336699;
  background: #3399ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
  border-radius: 50%; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #cccccc;
  border-radius: 50px;
  border: 0.2px solid #010101; }

input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border: 2px solid #336699;
  background: #3399ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
  border-radius: 50%; }

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #cccccc;
  border-radius: 50px; }

input[type=range]::-ms-fill-upper {
  background: #cccccc;
  border-radius: 50px; }

input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  border: 2px solid #336699;
  background: #3399ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
  border-radius: 50%; }

input[type=range]:focus::-ms-fill-lower {
  background: #cccccc; }

input[type=range]:focus::-ms-fill-upper {
  background: #cccccc; }

/*--------- file style ---------*/
.input__wrapper {
  width: 100%;
  max-width: 370px;
  text-align: center; }

.input__file {
  display: none; }

.input__file-icon-wrapper {
  width: 100%; }

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
  padding-left: 10px; }

.input__file-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 354px;
  padding: 8px;
  background: #ffffff;
  color: #222222;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer; }
